@page "/"
@using TimetableApp.Models
@using TimetableApp.Components
@inject HttpClient Http

<div class="container">
    <TimetableForm OnEntryAdded="LoadData" />
    
    @if (allEntries == null)
    {
        <p>Loading timetable...</p>
    }
    else
    {
        <TimetableDisplay Entries="allEntries" />
    }
</div>

@code {
    private List<TimetableEntry>? allEntries;

    protected override async Task OnInitializedAsync() => await LoadData();

    private async Task LoadData()
    {
        allEntries = await Http.GetFromJsonAsync<List<TimetableEntry>>("api/timetable");
    }
}